flask==1.1.2
Flask-Bootstrap==3.3.7.1
keras-preprocessing==1.1.2
matplotlib==3.2.1
numpy==1.18.4
opencv-python==4.2.0.34
tensorboard-plugin-wit==1.6.0.post3
tensorboard==2.2.1
tensorflow-estimator==2.2.0
tensorflow==2.2.0
gunicorn
