absl-py
astor
bleach
gast
grpcio
gunicorn
flask
Flask-Bootstrap
h5py
html5lib
Jinja2
Keras
Keras-Applications
Keras-Preprocessing
Markdown
numpy
opencv-python
opencv-contrib-python
protobuf
PyYAML
scipy
six
tensorflow
tensorboard
tensorflow-estimator
termcolor
werkzeug
