/* * Reset all elements */
* {
    margin: 0;
    padding: 0;
}


/* * HTML elements */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
	color:white;
    font-weight: normal;
    line-height: 1.5em;
    width: 800px;
    margin: auto;
}


/* * Local selectors */
#container {

    margin-top: 40px;
    width: 500px;
    height: 380px;
    border: 10px #333 solid;
    background-color: black;
}

#container #videoElement {
    width: 480px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
}

#control {
    margin-top: 40px;
}


.center-img {
  text-align: center;

}

.footer {
  flex: 0 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
	color:white;
    font-weight: normal;
    line-height: 1.5em;
    width: 800px;
    margin: auto;
}
