<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Face Emotion Recognition</title>
   
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

{% extends "bootstrap/base.html" %}
{% block title %} {{ TITLE }} {% endblock %}
{% block styles %} {{ super() }}

<!-- Custom styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% endblock %}

{% block content %}
<body>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}
   <center>
   <nav class="navbar navbar-dark bg-dark ">
   
   
      <h1<font color="red" class="entry-title" style="text-align: center;" >Распознавание эмоций с Deep learning</h1>
	 
   </nav>
    </center>
<h1 class="entry-title" style="text-align: center;"><img style="font-size: 14px; font-family: -webkit-standard;" src="/static/detect.png" alt="" width="512" height="128" /></h1>

<center>
   <div class="container">
      <div class="starter-template">

<div id="container" align=center>

 <!--<img id="video" autoplay src="{{ url_for('video_feed') }}" alt="" width="480px" height="360px">-->
      <video onclick="snapshot(this);" width="480px" height="360px" id="video" controls autoplay></video>
	
		 <p>
    <button onclick="startWebcam();">Start WebCam</button>
    <button onclick="stopWebcam();">Stop WebCam</button> 
    </p>
</center>	
  <p>
	 <script >
  

      //--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.mediaDevices.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var webcamStream;

      function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },

              // successCallback
              function(localMediaStream) {
                  video = document.querySelector('video');
                 video.srcObject = localMediaStream;
                 webcamStream = localMediaStream;
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }  
      }

      function stopWebcam() {
         // webcamStream.stop();
        webcamStream.getTracks().forEach(function(track) {
  track.stop();});
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;
        function snapshot() {
         // Draws current image from the video element into the canvas
        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
        //canvas = document.getElementById("myCanvas");
        //var dataURL = canvas.toDataURL('image/jpg', 1.0);
        //document.querySelector('#dl-btn').href = dataURL;

        //console.log(dataURL)

      }
      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
        var dataURL = canvas.toDataURL('image/jpg', 1.0);
        
      }
      
      

    

  </script>
</center>
  </div>
  
    <br>
  </div>



  <div>
    <br>
  </div>


</div>

{% endblock %}

{% block scripts %}
<!-- Imports -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Scripts -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}"
></script>
<footer>
	<nav class="navbar navbar-dark bg-dark ">
   <center>
      <h5 class="entry-title" style="text-align: center;">&#169; Александр Коротких - 2022 Tessaract.co</h5>
	  </center>
   </nav>
</footer>
{{ super() }}
{% endblock %}
