{% extends "bootstrap/base.html" %}
{% block title %} {{ TITLE }} {% endblock %}
{% block styles %} {{ super() }}

<!-- Custom styles -->
<!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />-->
{% endblock %}

{% block content %}

<h1 class="entry-title" style="text-align: center;">Распознавание эмоций с Deep learning</h1>
<h1 class="entry-title" style="text-align: center;"><img style="font-size: 14px; font-family: -webkit-standard;" src="/static/detect.png" alt="" width="512" height="128" /></h1>
<p style="text-align: center;"></p>

<div id="container" align=center>
  <img id="videoElement" src="{{ url_for('video_feed') }}" />

  <div>
    <br>
  </div>


  <div>
    <br>
  </div>


</div>
{% endblock %}

{% block scripts %}
<!-- Imports -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->

<!-- Scripts -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}"
></script>

{{ super() }}
{% endblock %}

